{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {% bootstrap_form form %}

  <button type="submit" class="btn btn-default" >Save changes</button>
</form>

{% endblock %}