{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Login" class="btn btn-default">
        <small class="text-muted ml-2">
            <a href="reset_password">Forgot Password</a>
        </small>
    </form>
</div>
{% endblock %}
