{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
  <h3>Forgot password</h3>
  <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
{% endblock %}


