{% extends "base.html" %}
{% block content %}

    <h1>Welcome to Comunication_LTD!</h1>
    <h2>The best internet surfing packages deals!</h2>
    <h3>Login or Sign-up for details</h3>


{% endblock %}
