{% extends "base.html" %}
{% block content %}
<div class="container">
  <h1>You are now logged in!</h1>
  <h2>
    Welcome back @{{user.username }}
  </h2>

  <h2><a href="{% url 'groups:all'%}">Go To Internet Surfing Packages</a></h2>


</div>




{% endblock %}
